.paragraph1{
    text-align: center;
    padding: 5px;
    font-size:18px;
}


body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

p{
    font-family: 'Montserrat', sans-serif;
}

html{
    scroll-behavior: smooth;
}

.header {
    padding: 20px;
    text-align: center;
    color: black;
    font-size: 40px;
    height: 90px;
    top:0;
    left: 0;
    margin:0;
    position: sticky;
    overflow: hidden;
    z-index: 10;
}

.topnav {
    position: absolute;
    overflow: hidden;
    background-color:black;
    top:90px;
    left: 0;
    margin:0;
    position: sticky;
    z-index: 11;
} 


.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav p {
    float: left;
    color: white;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 20px;
    padding-left: 10px;
}

.topnav-right {
    float: right;
}

.active{
    background-image: linear-gradient(to right, #d8fd04, #79801c);
    color: black;
}

.topnav a:hover{
    background-color: #555;
    color: white;
}

.container {
    position: relative;
    color: white;
  }

.container-content {
    background-image: linear-gradient(to right, rgb(245, 245, 188), rgb(202, 202, 8));
    padding-bottom:50px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
}

.container-content h1 {
    padding: 20px;
    text-align: center;
    font-weight: 800;
}

.picturetext{
    position: absolute;
    top: 45%;
    left: 45%;
    transform: translate(-50%, -50%);
}

.picturetext h1 {
    color: rgb(232, 248, 7); 
    text-align: left;
    word-spacing: 5px;
    font-size: 5vw;
}

.picturetext p {
    padding: 5px;
    font-size:18px;
    text-align: left;
    font-size: 2vw;
}

.container1 {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    justify-content: space-evenly;
}

.container1 h1 {
    font-size:45px;
}

.item1 {
    margin: 5px;
    padding: 50 px;
    width: 25%;
    border-radius: 10px;
}

.container2{
    position: relative;
    background-color: #555;
    padding: 50px;
}

.paragraphstyle{
    position: absolute;
    border: 1px solid black;
    padding: 10px;
    width: 200px;
    height: 200px;
    text-align: justify;
}

.container-events{
    position: relative;
    margin-top: 50px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
    padding-bottom: 50px;
    box-shadow: 0px 3px 10px rgba(0,0,0,.50);
}

.container-events h1 {
    padding: 20px;
    text-align: center;
    font-weight: 800;
}

.mySlides {
    display: block;
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
}

.slidespic {
    width: 100%;
    height:70%;
}

.alternativetext{
    background-color: whitesmoke;
    box-shadow: 0px 3px 10px rgba(20, 20, 20, 0.5);
    color: rgb(15, 15, 15);
    position: absolute;
    float: left;
    top: 28%;
    left: 26%;
}

.leftarrow{
    position: absolute;
    top: 55%;
    left: 25%;
    float: left;
    font-size: 30px;
    color: rgb(0, 238, 255);
    box-shadow: 0px 3px 10px rgba(0,0,0,.50);
    background-color: transparent;
    border: transparent;
    cursor: pointer;
}

.leftarrow:hover {
    color: red;
    transition: all 0.2s ease-in;
}

.rightarrow{
    position: absolute;
    top: 55%;
    right: 25%;
    float: right;
    font-size: 30px;
    color: rgb(0, 238, 255);
    box-shadow: 0px 3px 10px rgba(0,0,0,.50);
    background-color: transparent;
    border: transparent;
    cursor: pointer;
}

.rightarrow:hover {
    color: red;
    transition: all 0.2s ease-in;
}



/* contact icons */

.containercontact {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    justify-content: space-evenly;
    background-color:rgb(202, 193, 193);
}

.containercontact p {
    font-size: 25px;
    font-weight: 700;
}

.contact-content {
    position: relative;
    color:black;
    font-family:'Montserrat', sans-serif;
}

.contact {
    text-decoration: none;
    font-size: 30px;
}

.link {
    height: 70px;
    width: 70px;
    background-color: #caf7e3;
    border-radius: 35px;
    text-align: center;
    margin: 7px;
    line-height: 80px;
}

a i {
    transition: all 0.3s linear;
}

a:hover i {
    transform: scale(1.5);
}

.youtube:hover {
    color: red;
}

.facebook:hover {
    color: blue;
}

.instagram:hover {
    color: #e11d74;
}

.twitter:hover {
    color: #00adb5;
}

.contact:hover{
    color: red;
    cursor: pointer;
}

/* ------------------------------------------------- */




/* CSS for Program Page */
.paragraphPrograms{
    padding-right:5%;
    padding-left: 5%;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.container4{
    background-image: linear-gradient(to right, rgb(103, 170, 182), yellow);
    border-radius: 50px;
    height: auto;
    width: 30%;
}

.headertext1{
    font-family:'Montserrat';
    font-size: 35px;
}

.card{
    height: auto;
    width: 26%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 20px;
    border-radius: 10px;
    background: rgb(221, 223, 198);
}

.card:after{
    content:"";
    height: calc(100% + 20px);
    width: calc(100% + 20px);
    position: absolute;
    top: -10px;
    left: -10px;
    z-index: -1;
    border-radius: 10px;
    background: linear-gradient(45deg, rgb(136, 240, 51),rgb(201, 255, 4), rgb(240, 91, 6), rgb(164, 199, 8));
    background-size: 150% 200%;
    animation: animate 3s ease infinite;
}

.picturecard {
    width: 90%;
    padding-left: 5%;
    padding-top: 2%;
    border-radius: 25px;
}

@keyframes animate{
    0%{
        background-position: 10% 0%;
    }

    50%{
        background-position: 91% 100%;
    }

    100%{
        background-position: 10% 0%;
    }
}

.btn{
    height:40px;
    width: 150px;
    background-color: black;
    border: none;
    position: relative;
    outline: none;
    border: black;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 3px;
    font-weight: 800;
    font-size: 17px;
    color:whitesmoke;
    cursor: pointer;
    overflow: hidden;
}
.btn:hover{
    color: black;
}
.btn:before{
    content:'';
    height:45px;
    width: 0px;
    color: black;
    border: whitesmoke;
    background-color: whitesmoke;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) skewX(-25deg);
    z-index: -1;
    transition: all .4s;
}
.btn:hover:before{
    width:175%;
}



/* ------------------------------------------------------------- */

/* Form page CSS */

.boxdiv{
    margin-top: 50px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
    display: flex;
    box-shadow: 0px 3px 10px rgba(0,0,0,.50);
}

.leftbox{
    width: 35%;
    position: relative;
    background-image: url(studying_student_library.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}

.rightbox{
    background-color: rgb(252, 253, 203);
    width:60%;
    position: relative;
    display: flex;
}

.leftbox h1{
    font-size: 40px;
    font-weight: 900;
    margin-top: 175px;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}

.leftbox p{
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

.rightbox h1{
    font-size: 40px;
    font-weight: 900;
    margin-top: 120px;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}

.rightbox p{
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

.rightbox .form-control{
    margin-right: 25px;
    text-align: left;
    padding: 10px;
    margin-left: 10px;
}

.rightbox .form-control input{
    background:#ffffff;
    padding: 10px 20px;
    border-radius: 4px;
    float: right;
    margin-right: 5px;
}

.rightbox .form-control select{
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 4px;
    background-color: #ffffff;
    float: right;
}

.form-group{
    position: relative;
}

.picturetext1{
    height: 80%;
    width: 80%;
    position: absolute;
    top: 70%;
    left: 45%;
    transform: translate(-50%, -78%);
}


.row:after {
    content: "";
    display: table;
    clear: both;
  }

  .col{
      float: left;
      width: 25%;
      margin-top: 6px;
  }

  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }

  input[type=text], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
  }

  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }